<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
</head>

<body>


 <form role="form" name="myForm" ng-submit="submitCuisine(myForm.$valid)" novalidate>

			
			<div class="form-group" ng-class="{ 'has-error' : myForm.tag1.$invalid && myForm.tag1.$touched }">
    <label for="tag1">tag1</label>
    <input type="text" class="form-control" id="tag1" name="tag1" 
                  placeholder="Enter tag 1" ng-model="dataform.tag1" required>
  </div>
  
  
  <div class="form-group" ng-class="{ 'has-error' : myForm.tag2.$invalid && myForm.tag2.$touched }">
    <label for="tag2">tag2</label>
    <input type="text" class="form-control" id="tag2" name="tag2" 
                  placeholder="Enter tag 2" ng-model="dataform.tag2" required>
  </div>
  
  <div class="form-group" ng-class="{ 'has-error' : myForm.tag3.$invalid && myForm.tag3.$touched }">
    <label for="tag3">tag3</label>
    <input type="text" class="form-control" id="tag3" name="tag3" 
                  placeholder="Enter tag 3" ng-model="dataform.tag3" required>
  </div>
  
			
	
           
            <div class="form-group">
               <label for="description">Image</label> 
               <input type="file"  file-input="files" name="file"/>
            </div>  
            <button class="btn btn-primary" type="submit" ng-disabled="myForm.$invalid"> Submit</button>
        </form>
        
        
        <script>
		//controller
		var myApp=angular.module("myApp",[]);
  myApp.controller("load",function($scope,$http){
    $scope.dataform={};
    $scope.submitCuisine=function(isvalid){
	if(isvalid){
		var fd=new FormData();
		angular.forEach($scope.files,function(file){
			fd.append('file',file);
		});
	
		fd.append('formdata',JSON.stringify($scope.dataform));
		$http.post('admin/managecuisineAdd',fd,{
			transformRequest:angular.identity,
			headers:{'Content-type':undefined}
		}).success(function(data){
			$scope.status=data;
			$scope.itemlist.push(data)
			$scope.message="New Dish Added Successfully"
		});
	}	
}
    
  });






//Directive
myApp.directive("fileInput",['$parse',function($parse){
    return{
        restrict:'A',
        link:function(scope,ele,attrs){
            ele.bind('change',function(){
                $parse(attrs.fileInput).
                assign(scope,ele[0].files)
                scope.$apply()
            });
        }
    }
}]);

		
		</script>
        
        
        



</body>
</html>
