<!doctype html>
<!-- Prototype Parse JSON -->
<!-- Avi Herbstman AD440 -->
<html ng-app id="ng-app">
<head> 
<script src="js/angular.js"></script>

<script>

function PostsCtrlAjax($scope, $http)

{

$http({method: 'POST', url: 'js/postsproto.json'}).success(function(data) {
$scope.posts = data;
});

}



</script>

  
<style>
body{font-family:arial; font-size:12px}
.postBody{padding:10px; width:550px; border-bottom:dashed 2px #dedede}
.postBody a{color:#333333;text-decoration:none}
.postBody a:hover{color:#006699;background-color:#dedede}

</style>
</head>
  
<body >
<h1>Prototype to Parse JSON file</h1>

   
<div id="ng-app" ng-app ng-controller="PostsCtrlAjax">  

<!-- <div ng-repeat="post in posts" class='postBody'> -->
 <table width="550" border="1">
  <tbody>
    <tr>
	  <th scope="col" class="table-number"></th>
      <th scope="col" class="table-first">Image Name</th>
      <th scope="col" class="table-second">Tags</th>
      <th scope="col" class="table-third">Image</th>
    </tr>
<tr ng-repeat="post in posts">
    <th>   {{ $index + 1 }}</th>
	<th>   {{post.file_name}}</th>


    <th> {{post.tag}}</th>
    <th><img ng-src="{{post.photo_url}}" style='width:100px'/></th>
</tr>
  </tbody>
</table>
</div>
    
</div>

</body>

</html>
